<footer>
    <div class="conteiner">

      <div class="footer-item">
        <h5>Compras</h5>
        <ul type="none">
          <li><small>Búsqueda</small></li>
          <li><small>Términos del Servicio</small></li>
          <li><small>Política de Reembolso</small></li>
        </ul>
      </div>

      <div class="footer-item">
        <h5>Atención al Cliente</h5>
        <ul type="none">
          <li><small>Contacto</small></li>
          <li><small>Preguntas frecuentes</small></li>
          <li><small>Medios de pago</small></li>
        </ul>
      </div>

      <div class="footer-item">
        <h5>Entrelíneas</h5>
        <ul type="none">
          <li><small>Quiénes somos</small></li>
          <li><small><a href="/products/create"> Crear nuevo producto</a> </small></li>
        </ul>
      </div>

  

      </div>

    </div>

  </footer>